body {
    font-size: 12px;
}

.page2 {
    width: 100%;
    display:inline-flex;



    
}



.left {
    display: flex;
    flex-direction: column;
    
    
    
}

h4 {
    width: 45%;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
    padding-top: 20px;
    height: 70px;
    
    
}

.centre {

    margin-top: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
   
    border: 1px solid black;
    border-radius: 16px;


}

.footer {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
     text-align: right;
    width: 100%;
    margin-top: 20%;
    margin-right: 5%;
    border-radius: 16px;

}

hr {
    margin-top: 10%;
}


.middle {
    border: 1px solid black;
    border-radius: 16px;
    margin-top: 100px;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 25px;
}

.middle p {
    
}

.end {
    border: 1px solid black;
    border-radius: 16px;
    /* margin-top: 60px; */
    text-align: center;
    width: 50%;
    margin: 10px auto;
    font-size: 25px;
}

.end p {
    margin-left: 15px;
}


.price {
    display:flex;
    flex-direction: column;
     justify-content: flex-end;
    align-items: flex-end;
    text-align: right; 
    width: 100%;
    margin-right: 5%;
    margin-top: 100px;
    border-radius: 16px;

}


.depot {
    text-align:center;
    width: 100%;
}

.depot2 {
    text-align:center;
    width: 100%;
}


.entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.toto {
    width: 100%;
    text-align: center;
 
    font-size: 50px;
}

.toto2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
}






.price2 {
    display:flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    text-align: center; 
    width: 100%;
    margin-right: 5%;
    margin-top: 30px;
    border-radius: 16px;
    font-size: 25px;

}